body{
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: #fff;
}
.container{
   margin: auto;
   text-align: center;
}
.player1{
    color: #fff;
}
